.gradle
.idea
.qodana
build
*.pem
certificate
.env
/.intellijPlatform


# Storing folders and files you want to manage but not commit
*.local
*.local.*

# AI files
AGENTS.override.md
.inline-review-notes

# Codex CLI
.codex/config.toml

# Junie CLI
.junie
